In [1]:
#Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests

In [2]:
#Splinter 
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\skcul\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [ ]:
#NASA Mars News
url = 'https://redplanetscience.com/'
browser.visit(url)
html=browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
nt = soup.find('div', class_='content_title')
nt

In [ ]:
news_title = nt.text.strip()
news_title

In [ ]:
np = soup.find('div', class_='article_teaser_body')
np

In [ ]:
news_p = np.text.strip()
news_p

In [ ]:
#JPL Mars Space Image

In [3]:
url2 = 'https://spaceimages-mars.com/'
browser.visit(url2)
html=browser.html
soup = BeautifulSoup(html, 'html.parser')
marsimage = soup.find('img', class_='headerimage fade-in')
marsimage

In [4]:
image_url = soup.find('img', class_='headerimage fade-in')['src']
featured_image_url = url2 + image_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [50]:
#Mars Facts
url3 = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url3)
mars_earth_df = tables[0]
mars_earth_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [51]:
mars_earth_df.columns

Int64Index([0, 1, 2], dtype='int64')

In [52]:
me_df = mars_earth_df.rename(columns={0:"Description",1:"Mars",2:"Earth"})
me_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [53]:
me_df.columns

Index(['Description', 'Mars', 'Earth'], dtype='object')

In [54]:
m_e_df = me_df.set_index("Description")
m_e_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [55]:
m_e_table = m_e_df.to_html()
m_e_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [56]:
metable = m_e_table.replace('\n','')
metable

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Description</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Mars - Earth Comparison</th>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [ ]:
##Mars Hemispheres
titles = []
urls = []
url4 = 'https://marshemispheres.com/'
browser.visit(url4)
html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [ ]:
hemis = soup.find_all('div', class_='description')
hemis

In [ ]:
#Loop through to get the titles
counter = 0
for hem in hemis:
    title = hem.a.find('h3')
    title = title.text
    titles.append(title)
    counter = counter + 1
    if (counter == 4):
        break

In [ ]:
titles

In [ ]:
#get the urls for the pages with the images to then find images
counter = 0
for hem in hemis:
    src = hem.find('a')['href']
    page_url = url4 + src
    urls.append(page_url)
    counter = counter + 1
    if (counter == 4):
        break

In [ ]:
urls

In [ ]:
#Loop to get the images in jpg
image_urls = []
for url in urls:
    browser.visit(url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    src = soup.find('img',class_="wide-image")['src']
    wide_url = url4 + src
    image_urls.append(wide_url)
    
    
image_urls

In [ ]:
#List of dictionaries
hemisphere_image_urls = []

hem1 = {'title':titles[0], 'img_url': image_urls[0]}
hem2 = {'title':titles[1], 'img_url': image_urls[1]}
hem3 = {'title':titles[2], 'img_url': image_urls[2]}
hem4 = {'title':titles[3], 'img_url': image_urls[3]}

hemisphere_image_urls = [hem1, hem2, hem3, hem4]
hemisphere_image_urls